@using BugFixer.Domain.ViewModels.Question

@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "_Layout";
    var questions = ViewData["Questions"] as FilterQuestionViewModel;
}

@section Styles
{
<link rel="stylesheet" type="text/css" href="/css/home.css">
}

@section Header
{
<!-- landing page -->
<div class="landing-layer">
    <div class="container">
        <header>
            <a href="" class="logo"><img src="/images/logo.svg"></a>
            <h1> سامانه <span>پرسش و پاسخ</span> برنامه نویسان و توسعه دهندگان </h1>
            <h2> آموزش ببینید ، مهارت ها و تخصص های خود را به اشتراک بگذارید ، بپرسید و به جواب برسید  </h2>
        </header>

        <div class="search-form">
            <form asp-controller="Question" asp-action="QuestionList" method="get" id="QuestionSearchForm">
                <input id="QuestionSearchInput" name="Title" question-autocomplete type="text" placeholder=" دنبال چه موضوعی میگردی ؟ ">
                <button type="submit"><i class="icon-search-1"></i></button>
            </form>
        </div>
    </div>
</div>
<!-- /landing page -->
<!-- menu -->
<div class="top-menu">
    <div class="container">

        <nav>
            <span><i class="icon-menu-2"></i></span>
            <partial name="_TopMenuPartial" />
        </nav>

        <div class="clientarea-layer">
            @if (User.Identity.IsAuthenticated)
            {
            @await Component.InvokeAsync("UserMainMenuBox")
;
            }
            else
            {
            <div class="signout-status">
                <i class="icon-profile"></i>
                <a asp-action="Login" asp-controller="Account"> ورود / </a>
                <a asp-action="Register" asp-controller="Account"> عضویت </a>
            </div>
            }
        </div>

        <div class="clearfix"></div>

    </div>
</div>
<!-- /menu -->
}

<div class="container">
    <!-- questions -->
    <div class="questions-layer">
        <!-- questions list -->
        <div class="questions-list">
            @if (questions != null && questions.Entities.Any())
            {
                foreach (var question in questions.Entities)
                {
                    var className = string.Empty;

                    if (question.HasAnyAnswer && !question.HasAnyTrueAnswer)
                    {
                        className = "answered";
                    }
                    else if (question.HasAnyTrueAnswer)
                    {
                        className = "selected";
                    }

                    <!-- item -->
                    <article class="@className">
                        <h2><a asp-action="QuestionDetail" asp-controller="Question" asp-route-questionId="@question.QuestionId">@question.Title</a></h2>
                        <span> @question.AnswersCount <i class="icon-comment-1"></i> </span>
                        <ul>
                            <li> پرسیده شده توسط <a href="javascript:void(0)"> @question.UserDisplayName </a> @question.CreateDate </li>
                            @if (!string.IsNullOrEmpty(question.AnswerByDisplayName) && !string.IsNullOrEmpty(question.AnswerByCreateDate))
                            {
                                <li> پاسخ داده شده توسط <a href="javascript:void(0)"> @question.AnswerByDisplayName </a> @question.AnswerByCreateDate </li>
                            }
                            else
                            {
                                <li> پاسخی ثبت نشده است . </li>
                            }
                        </ul>
                        <div class="detail">
                            <div class="tags-layer">
                                @foreach (var tag in question.Tags)
                                {
                                    <a asp-action="QuestionListBtTag" asp-controller="Question" asp-route-tagName="@tag"> @tag </a>
                                }
                            </div>
                            <div class="left-side">
                                <span> @question.Score <i class="icon-star"></i> </span>
                                <span> @question.ViewCount <i class="icon-eye"></i> </span>
                            </div>
                        </div>
                    </article>
                    <!-- /item -->
                }
            }
        </div>
        <!-- /questions list -->
    </div>
    <!-- /questions -->

    <partial name="_LeftSide" />

    <div class="clearfix"></div>
</div>

@section Scripts
{
    <script src="/js/home.js"></script>
    <partial name="_autocompletePartial"/>
}
