@using BugFixer.Application.Extensions
@using BugFixer.Application.Statics
@model List<BugFixer.Domain.Entities.Questions.Answer>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
        <!-- Item -->
        <div class="answer-item">
            <div class="top-detail">
                <span> @item.CreateDate.TimeAgo() </span>
                <button onclick="LoadUrl('@Url.Action("EditAnswer", "Question", new {answerId = item.Id})')"><i class="icon-pencil-edit"></i></button>
            </div>
            <div class="inner">
                
                @Html.Raw(item.Content)

                <div class="rating-layer">
                    <div class="scoring-layer">
                        <button onclick="ScoreUpForAnswer('@item.Id')" class="plus"><i class="icon-caret-up"></i></button>
                        <span> @item.Score </span>
                        <button onclick="ScoreDownForAnswer('@item.Id')" class="negative"><i class="icon-caret-down"></i></button>
                    </div>
                    <div class="selected-answer">
                        @if (item.IsTrue)
                        {
                            <button onclick="selectTrueAnswer('@item.Id')" class="selected"><i class="icon-check"></i></button>
                        }
                        else
                        {
                            <button onclick="selectTrueAnswer('@item.Id')"><i class="icon-check"></i></button>
                        }
                    </div>
                </div>
            </div>

            <div class="detail-layer">
                <div class="author">
                    <a href="javascript:void(0)" class="img-layer">
                        <img src="@(PathTools.UserAvatarPath + item.User.Avatar)">
                    </a>
                    <h3><a href="javascript:void(0)"> @item.User.GetUserDisplayName() </a></h3>
                </div>
            </div>

        </div>
        <!-- /Item -->
    }
}
else
{
    <div class="alert alert-warning">
        پاسخی یافت نشد .
    </div>
}
